html {
	box-sizing: border-box;
	/* ----CSS Background Image Fit to Screen---- */
	background-image: url(https://www.ghibli.jp/gallery/onyourmark026.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* --x--CSS Background Image Fit to Screen--x-- */
	font-family: "helvetica neue";
	font-size: 20px;
	font-weight: 200;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

input {
	width: 100%;
	padding: 20px;
}

.search-form {
	max-width: 400px;
	margin: 50px auto;
}

input.search {
	margin: 0;
	text-align: center;
	outline: 0;
	border: 10px solid #ffc600;
	width: 120%;
	left: -10%;
	position: relative;
	top: 10px;
	z-index: 2;
	border-radius: 5px;
	font-size: 40px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.suggestions {
	margin: 0;
	padding: 0;
	position: relative;
	/*perspective: 20px;*/
}

.suggestions li {
	background: white;
	list-style: none;
	border-bottom: 1px solid #d8d8d8;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
	margin: 0;
	padding: 20px;
	transition: background 0.2s;
	display: flex;
	justify-content: space-between;
	text-transform: capitalize;
}

.suggestions li:nth-child(even) {
	transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
	background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}

.suggestions li:nth-child(odd) {
	transform: perspective(100px) rotateX(-3deg) translateY(3px);
	background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
}

span.population {
	font-size: 15px;
}

.highlight {
	background: #ffc600;
}

#fork {
	position: fixed;
	top: 0;
	left: 0;
	color: #000;
	text-decoration: none;
	border: 1px solid #000;
	padding: 0.5em 0.7em;
	margin: 1%;
	transition: color 0.5s;
	overflow: hidden;
}
#fork:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 130%;
	height: 100%;
	background: #000;
	z-index: -1;
	transform-origin: 0 0;
	transform: translateX(-100%) skewX(-45deg);
	transition: transform 0.5s;
}
#fork:hover {
	color: #fff;
}
#fork:hover:before {
	transform: translateX(0) skewX(-45deg);
}
